.listings-view {
	overflow: scroll;
	height: 100%;
}

.listings-item {
	position: relative;
	width: 200px;
	height: 250px;
	border: 1px solid rgba(0, 0, 0, 0.04);
	margin-left: 8px;
	margin-bottom: 8px;
	display: inline-block;
	float: left;
	box-sizing: border-box;
	cursor: pointer;
}

.listings-item-image {
	background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 160px;
  width: 100%;
}

.listings-item-price {
	background-color: #008BE6;
	color: white;
	padding: 4px 4px;
	position: absolute;
	top: 150px;
	left: 12px;
	border-radius: 2px;
	overflow: hidden;
}

.listings-item-location {
	padding-top: 18px;
	padding-left: 12px;
	padding-right: 12px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.listings-item-title {
	color: #333;
	padding-top: 2px;
	padding-left: 12px;
	padding-right: 12px;
	height: 32px;
	overflow: hidden;
}

.listings-view-count {
	padding: 12px 12px;
}

.listings-view-footer {
	clear: both;
	padding: 20px 12px 12px 12px;
}

.listings-view-footer a {
	cursor: pointer;
}

.listing-view-footer-page {
	padding-right: 4px;
}

.listing-view-footer-number {
	padding-right: 8px;
	color: #008BE6;
}

.listing-view-footer-number:hover {
	text-decoration: underline;
}

.listing-view-footer-number-selected {
	color: #777;
}

.listing-view-footer-number-selected:hover {
	text-decoration: none;
}

.listing-view-footer-next {
	font-weight: 600;
	color: #008BE6;
}

.listing-view-footer-next:hover {
	text-decoration: underline;
}